{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="uk-section uk-flex uk-flex-middle uk-flex-center" style="min-height: 100vh;">
    <div class="uk-width-1-2@m uk-width-2-3@s uk-width-1-1">

        <h1 class="uk-text-center uk-margin-medium-bottom">Connexion</h1>

        {% if error %}
            <div class="uk-alert-danger uk-text-center uk-border-rounded uk-padding-small">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form method="post" class="uk-form-stacked uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">

            <div class="uk-margin">
                <label class="uk-form-label" for="inputEmail">Email</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded"
                           type="email"
                           name="_username"
                           id="inputEmail"
                           value="{{ last_username }}"
                           required
                           autofocus>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="inputPassword">Mot de passe</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded"
                           type="password"
                           name="_password"
                           id="inputPassword"
                           required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="uk-margin uk-text-center">
                <button class="uk-button uk-button-primary uk-border-pill" type="submit">
                    Se connecter
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}

