{% extends 'base.html.twig' %}

{% block title %}Nicolas Gothier
{% endblock %}
{% block body %}
	<div class="nico-logo-container" uk-scrollspy="cls: uk-animation-fade; target: > *; delay: 150;">
		<img src="{{ asset('assets/images/logo/nico-logo.png') }}" alt="logo nico sax">
		<h4 class="uk-text-center uk-margin-large">Saxophoniste</h4>
		<div class="action-buttons">
			<a href="{{ path('app_summary') }}" class="uk-button uk-button-default uk-border-pill action-btn">Entrer</a>
		</div>
	</div>
{% endblock %}
