<form method="post" action="{{ path('app_degree_delete', {'id': degree.id}) }}" onsubmit="return confirm('Supprimer ce diplôme ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ degree.id) }}">
    <button class="uk-button uk-button-danger uk-button-small uk-border-pill uk-box-shadow-hover-small uk-margin-small-top">Supprimer ce diplôme</button>
</form>
