{% extends 'base.html.twig' %}

{% block title %}Biographie
{% endblock %}

{% block body %}
	<div class="body-vignette">
		<div class="uk-flex uk-flex-center uk-margin-large-top">
			<div class="uk-overflow-hidden biography-img" style="width: 20%;">
				<img src="{{ asset('assets/images/biography.jpg') }}" alt="nico image" class="uk-animation-reverse uk-transform-origin-top-right" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
			</div>
		</div>

		<hr class="uk-divider-icon">

		<div class="uk-margin-large-top uk-text-center">
			<div class="uk-card uk-card-default uk-card-body uk-animation-fade uk-width-4-5@m uk-align-center" style="animation-delay: 500ms;">
				<p class="bio-p">
					<em class="biography-txt">
						Né à Forbach et originaire de Freyming-Merlebach, le saxophoniste Nicolas Gothier est un artiste Lorrain.
					</em>
				</p>
				<p class="bio-p">
					<em class="biography-txt">
						Ses performances scéniques en font un saxophoniste expérimenté. (Café de la danse, Zénith de Nancy, Dôme disneyland, Palais des congrès de Vittel, La rotonde, Abbaye de Neumunster Luxembourg, Saulcy Blaster, Les trinitaires, Congresshalle de Sarrebruck, Salle Poirel, NjP, Sunset/Sunside, Le baiser salé, Studio l’Ermitage, Gueulard+ …).
						<br>
						<br>
						Polyvalent il joue dans diverses formations passant du Jazz moderne au Rock sans oublier l’électro, le trip hop, le swing, le New Orléans, le Funk… Passant de prestations solo à des petites formations, big band et orchestre.
					</em>
				</p>
				<p class="bio-p">
					<em class="biography-txt">
						Enseignant artistique, il transmet ses connaissances dans plusieurs école de musique des Vosges (Vittel, Contrexeville, Mirecourt, Thaon, Golbey).
					</em>
				</p>
				<p class="bio-p">
					<em class="biography-txt">
						Arrangeur et compositeur, il met à profit ses  connaissances pour des orchestrations, relevés, compositions, arrangements. 
												Ses expériences comprennent des big band, des orchestres à l’école, des grands ensembles, mais aussi des productions ou enregistrements studio.
					</em>
				</p>
			</div>
		</div>
	</div>
	<div class="action-buttons">
		<a href="{{ path('app_summary') }}" class="uk-button uk-button-default uk-border-pill uk-box-shadow-hover-small action-btn">
			Retour au sommaire
		</a>
	</div>
{% endblock %}
