<footer class="uk-section uk-section-small uk-text-center uk-light" style="background: white; color: #666; font-size: 0.75rem; font-weight: 300;">
	<p style="margin: 0; line-height: 1.6;">
		© Nicolas Gothier — Tous droits réservés<br>
		/ dev par
		<a href="https://pierreyvesdonze.github.io/portfolio/" class="link-footer" target="_blank" rel="noopener noreferrer" >
			Pierre-Yves Donzé
		</a>
	</p>
</footer>
