<form method="post" action="{{ path('app_concert_delete', {'id': concert.id}) }}" onsubmit="return confirm('Supprimer cette date ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ concert.id) }}">
    <button class="uk-button uk-button-danger uk-button-small uk-border-pill uk-box-shadow-hover-small uk-margin-small-top">Supprimer l'événement</button>
</form>
