{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet
{% endblock %}

{% block body %}
	<h1>Ajouter un projet</h1>

	{{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

	<div class="action-buttons">
		<a href="{{ path('app_project_index') }}" class="uk-button uk-button-default uk-border-pill uk-box-shadow-hover-small action-btn">
			Retour à la liste
		</a>
	</div>

{% endblock %}
